body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #ff0099;
}

h1 {
  color: hsl(316, 89%, 36%);
}

form {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
  padding: 5px;
  font-size: 1rem;
}

button {
  padding: 5px 10px;
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #69c47d;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

li button {
  background: #1f4e1c;
  color: #5efcff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
